.ReferralBtn-Image {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    filter: blur(1px);
    position: relative;

    .Online-Dot {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: aquamarine;
        border-radius: 50%;
        z-index: 3;
    }
}