@import '../../../../mixin.scss';

.Referral-Modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    outline: none;
    padding: 30px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;

    @include md{
        width: 400px;
    }
   
    .Heading{
        font-size: 18px;
        font-family: 'Lexend';
        color: var(--lightText);
        font-family: 400;
    }

    .Content{
        font-size: 16px;
        font-family: 'Lexend';
    }

}