.LableTile {
    padding: 5px;
    box-shadow: 0px 0px 5px -1px rgba(143, 143, 143, 1);
    text-align: center;
    border-radius: 40px;
    color: var(--lightText);
    font-size: 10px;
    font-family: 'Lexend';
}