.JobSection-Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .Filter-Section{
        padding: 20px;
        display: flex;
        gap: 20px;
    }

    .JobSection-JobCardContainer{
        flex-grow: 1;

        .nodata-text{
            font-size: 25px;
            color: #787878;
            margin-left: 20px;
        }
    }
}