.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.App > .App-header{
  padding: 10px 20px;

}

